p {
  width: 600px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

footer {
    font-family: 'Roboto', sans-serif;
}

nav {
  padding: 20px;
  text-align: center;
  font-family: 'Slabo 27px', serif;
}

nav a {
  padding: 30px;
  text-decoration: none;
  color: black;
}

body {
  margin: 0 80px;
}

.main {
  padding: 10px 40px;
  margin: 0 40px 220px 40px;
}

.pages-header {
  width: 900px;
  padding: 20px 80px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.container {
  padding: 0px 70px;
  margin: 40px;
  text-align: center;
}

.small-pic {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 20%;
  float: right;
}

.projects {
  text-align: center;
}

#cool-things {
  display: inline-block;
  color: black;
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  -moz-box-shadow: 5px 5px 5px 5px #777777;
  -webkit-box-shadow: 5px 5px 5px 5px #777777;
  box-shadow: 5px 5px 5px 5px #777777;
}

#index-page-header {
  padding: 70px 70px 180px 70px;
  margin: 40px;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

#larger-text {
  font-size: 25px;
}
